h1 {
	color:#0000FF;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 75px;
    text-align: center;
    text-shadow: 3px 2px red;
}
body {
    background-color: lightblue;
}
body {
    color: blue;
